

h1 {
    background-color: #F4FBFF;
    border-width: 1px;
    border-radius: 45px;
    border-style: solid;
    border-color: #001F6A;
    padding: 5px;
    text-align: center;
    font-family: 'Lobster Two', Helvetica, sans-serif;
    font-size: 70px;
    font-variant: oblique;
    font-weight: lighter;
    width: 50%;
    margin-left: 50px;
}


body {
    font-family: Helvetica, sans-serif;
    background-color: #d0e4fe;
    text-align: center;
}


.grid:after{
    content: "";
    display: table;
    clear: both;
}

.info{
    width: 40%;
    margin-left: 50px;
    padding: 10px;
    float:left;
}

.right {
    text-align: left;
    vertical-align: top;
    padding: 30px;
    margin-right: 50px;
}

#info-wrap{
    overflow: hidden;
}

.submit-button{
    padding: 10px;
}

.about {
    background-color: #F4FBFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: #001F6A;
    padding: 10px;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;

}

footer {
    font-size: 14px;
}
